.todo-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 20px;
}

.todo-item button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttons-panel {
    margin-left: 10px;
}

.buttons-panel button {
    margin-left: 3px;
}

.important {
    font-weight: 700;
}

.done {
    text-decoration: line-through;
    color: #6f1ab9;
}

.fa-check-square-o {
    color: #6f1ab9;
}
