.app {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 30px;
    background: #fff;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}



.active {
    background: #666666;
    color: #fff;
}